header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 20px;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #758a8a;
  filter: drop-shadow(0 0 4px rgba(31, 42, 42, 0.5));
}

header h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 1rem 0;
  letter-spacing: 0.2rem;
  color: #2f4444;
}

@media only screen and (max-width: 600px) {
  header img {
    width: 2.5rem;
    height: 2.5rem;
  }

  header h1 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }
}
